<div id="sreach">
  <p id="title">Let's find new music</p>
  <p id="error"><%= @check %></p>

  <div>
    <a href="#" id="arthist_name">名前</a>
    <a href="/feature" id="music_about">特徴</a>
  </div>
  </div>

<div id="center">
  <div id="result_base">
    <% if @arthist.empty? %>
      一致するアーティストは見つかりませんでした
    <% end %>
    <% @arthist.each do |art| %>
      <div style="height: 360px; border: 1px solid #333333;">

        <p class="result_name"><%= art.name %></p>
        <ul>
          <li>
            <div style="display:block">
              <p class="account_button2"><%= art.gender %></p>
              <p class="account_button2"><%= art.genre1 %></p>
              <p class="account_button2"><%= art.genre2 %></p>
              <p class="account_button2"><%= art.lyrics_genre %></p>
            </div>
            声の高さ
            <div class="evaluation">
              <input id="star1" type="radio" name="star" value="1"/>
              <label for="star1" class="<%= "star" if art.voice == 1 %>">
                <span class="text">低い</span>★</label>
              <input id="star2" type="radio" name="star" value="2"/>
              <label for="star2" class="<%= "star" if art.voice == 2 %>">★</label>
              <input id="star3" type="radio" name="star" value="3"/>
              <label for="star3" class="<%= "star" if art.voice == 3 %>">
                <span class="text">普通</span>★</label>
              <input id="star4" type="radio" name="star" value="4"/>
              <label for="star4" class="<%= "star" if art.voice == 4 %>">★</label>
              <input id="star5" type="radio" name="star" value="5"/>
              <label for="star5" class="<%= "star" if art.voice == 5 %>">
                <span class="text">高い</span>★</label>
            </div>
          </li>
          <li>
            <!--<div class="<%= art.id %>"></div>-->
            <div id="<%= art.id %>" style="position: relative; height:160px; width:330px"></div>
          </li>

          <li>歌詞</li>
          <li>長さ</li>

          <li>
            <div class="evaluation">
              <input id="star1" type="radio" name="star" value="1"/>
              <label for="star1" class="<%= "star" if art.lyrics == 1 %>">
                <span class="text">日本語</span>★</label>
              <input id="star2" type="radio" name="star" value="2"/>
              <label for="star2" class="<%= "star" if art.lyrics == 2 %>">★</label>
              <input id="star3" type="radio" name="star" value="3"/>
              <label for="star3" class="<%= "star" if art.lyrics == 3 %>">
                <span class="text">両方</span>★</label>
              <input id="star4" type="radio" name="star" value="4"/>
              <label for="star4" class="<%= "star" if art.lyrics == 4 %>">★</label>
              <input id="star5" type="radio" name="star" value="5"/>
              <label for="star5" class="<%= "star" if art.lyrics == 5 %>">
                <span class="text">英語</span>★</label>
            </div>
          </li>
          <li>
            <div class="evaluation">
              <input id="star1" type="radio" name="star" value="1"/>
              <label for="star1" class="<%= "star" if art.length == 1 %>">
                <span class="text">短い</span>★</label>
              <input id="star2" type="radio" name="star" value="2"/>
              <label for="star2" class="<%= "star" if art.length == 2 %>">★</label>
              <input id="star3" type="radio" name="star" value="3"/>
              <label for="star3" class="<%= "star" if art.length == 3 %>">
                <span class="text">普通</span>★</label>
              <input id="star4" type="radio" name="star" value="4"/>
              <label for="star4" class="<%= "star" if art.length == 4 %>">★</label>
              <input id="star5" type="radio" name="star" value="5"/>
              <label for="star5" class="<%= "star" if art.length == 5 %>">
                <span class="text">長い</span>★</label>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <%= paginate @arthist %>
</div>

<% @arthist.each do |art| %>
  <script>

    function ajaxDataYoutube() {
      data = {
        labels: [
          '10代',
          '20代',
          '30代',
          '40代',
          '50代',
          '60代～'
        ],
        datasets: [
          {
            data: [
              <%= art.generation1 %>,
              <%= art.generation2 %>,
              <%= art.generation3 %>,
              <%= art.generation4 %>,
              <%= art.generation5 %>,
              <%= art.generation6 %>
            ],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235,0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)'
            ],
            borderWidth: 1
          }
        ] // これらのラベルは凡例とツールチップに表示されます。
      };

      option = {
        legend: {
          display: false
        },
        title: {
          display: true,
          text: '世代データ',
          fontSize: 16 //フォントサイズ
        },
        responsive: true,
        scales: { //軸設定
          yAxes: [
            { //y軸設定
              display: false, //表示設定
              scaleLabel: { //軸ラベル設定
                display: false, //表示設定
                labelString: '縦軸ラベル', //ラベル
                fontSize: 18 //フォントサイズ
              },
              ticks: { //最大値最小値設定
                min: 0,
                max: <%= [art.generation1,art.generation2,art.generation3,art.generation4,art.generation4,art.generation6].max %>, //最小値
                fontSize: 18, //フォントサイズ
                stepSize: 20 //軸間隔
              }
            }
          ],
          xAxes: [
            { //x軸設定
              display: true, //表示設定
              gridLines: {
                display: false
              },
              barPercentage: 1, //棒グラフ幅
              categoryPercentage: 0.7, //棒グラフ幅
              scaleLabel: { //軸ラベル設定
                display: false, //表示設定
                labelString: '横軸ラベル', //ラベル
                fontSize: 18 //フォントサイズ
              },
              ticks: {
                fontSize: 12 //フォントサイズ
              }
            }
          ]
        }
      }
      var ctxx = document.createElement('canvas');
      var ctx = ctxx.getContext('2d');
      ctx.canvas.width = 100;
      ctx.canvas.height = 50;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: option
      });

      return $.ajax({
        type: 'GET',
        url: 'https://www.googleapis.com/youtube/v3/search?type=video&part=snippet&maxResults=1&q=<%= art.name%>&key=AIzaSyC9JsicNKQlSdnJFE_iTDDlJq8KN5i2DrM',
        dataType: 'json',
        error: function () {
          //  error func
          $('#<%= art.id %>').empty();
          $('#<%= art.id %>').append(ctxx);
        }
      })
    }
    ajaxDataYoutube().done(function (jsondataYt) {
      var ytID = jsondataYt.items[0].id.videoId
      var ytTitle = jsondataYt.items[0].snippet.title
      var YtHtml = '<iframe height="170" width="300" src="https://www.youtube.com/embed/' + ytID + '?controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen> <\/iframe>'
      $('#<%= art.id %>').empty();
      $('#<%= art.id %>').append(YtHtml);
    });
  </script>

<% end %>
