<div id="center">
  <div id="show_base">
    <p>User×Arthist</p>
    <table>
      <tr>
        <td>id</td>
        <td>アーティスト名</td>
        <td>ボーカル</td>
        <td>声の高さ</td>
        <td>曲の長さ</td>
        <td>歌詞</td>
        <td>ジャンル1</td>
        <td>ジャンル２</td>
        <td>年齢</td>
        <td>歌詞の特徴</td>
        <td>アカウント名</td>
      </tr>
      <% @uarthists.each do |uarthist| %>
        <tr>
          <td><%=uarthist.id %></td>
          <td><%= uarthist.arthist %></td>
          <td><%= uarthist.gender %></td>
          <td><%= uarthist.voice %></td>
          <td><%= uarthist.length %></td>
          <td><%= uarthist.lyrics %></td>
          <td><%= uarthist.genre1 %></td>
          <td><%= uarthist.genre2 %></td>
          <td><%= uarthist.generation %></td>
          <td><%= uarthist.lyrics_genre %></td>
          <td><%= uarthist.account %></td>
        </tr>
      <% end %>
    </table>

    <p>Arthist</p>
    <table>
      <tr>
        <td>id</td>
        <td>アーティスト名</td>
        <td>ボーカル</td>
        <td>声の高さ</td>
        <td>曲の長さ</td>
        <td>歌詞</td>
        <td>ジャンル1</td>
        <td>ジャンル２</td>
        <td>10代</td>
        <td>20代</td>
        <td>30代</td>
        <td>40代</td>
        <td>50代</td>
        <td>60代</td>
        <td>歌詞の特徴</td>
        <td>登録数</td>
      </tr>
      <% @arthists.each do |arthist| %>
        <tr>
          <td><%=arthist.id %></td>
          <td><%= arthist.name %></td>
          <td><%= arthist.gender %></td>
          <td><%= arthist.voice %></td>
          <td><%= arthist.length %></td>
          <td><%= arthist.lyrics %></td>
          <td><%= arthist.genre1 %></td>
          <td><%= arthist.genre2 %></td>
          <td><%= arthist.generation1 %></td>
          <td><%= arthist.generation2 %></td>
          <td><%= arthist.generation3 %></td>
          <td><%= arthist.generation4 %></td>
          <td><%= arthist.generation5 %></td>
          <td><%= arthist.generation6 %></td>
          <td><%= arthist.lyrics_genre %></td>
          <td><%= arthist.count %></td>
        </tr>
      <% end %>
    </table>

    <p>User</p>
    <table>
      <tr>
        <td>id</td>
        <td>ユーザー名</td>
        <td>メールアドレス</td>
        <td>パスワード</td>
        <td>年齢</td>
        <td>生年月日</td>
        <td>性別</td>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%=user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.password_digest %></td>
          <td><%= user.age %></td>
          <td><%= user.birthday %></td>
          <td><%= user.gender %></td>
        </tr>
      <% end %>
    </table>

    <p>Warn_Arthist</p>
    <table>
      <tr>
        <td>id</td>
        <td>アーティスト名</td>
        <td>アーティスト名が違う</td>
        <td>存在しないアーティスト</td>
      </tr>
      <% @warn.each do |w| %>
        <tr>
          <td><%=w.id %></td>
          <td><%= w.name %></td>
          <td><%= w.wrong_name %></td>
          <td><%= w.exist_name %></td>
        </tr>
      <% end %>
    </table>

    <p>Warn_U_Arthist</p>
    <table>
      <tr>
        <td>id</td>
        <td>ユーザー名</td>
        <td>アーティスト名</td>
      </tr>
      <% @wuas.each do |wua| %>
        <tr>
          <td><%=wua.id %></td>
          <td><%= wua.user %></td>
          <td><%= wua.arthist %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
