<div id="login_back">
    <%= form_tag("/home/login_check")do %>
    <p>アカウントID</p>
    <input type="text" name="name" value="<%= @name %>">
    <div class="error">　<%= flash[:notice] %>　</div>
    <p>パスワード</p>
    <input type="password" id="password" name="password">
    <div><input type="checkbox" id="password-check" />パスワード表示</div>
    <div class="error">　<%= flash[:ps] %>　</div>
    <div>
    <input type="submit" class="account_button2" value="ログイン">
    </div>
    <% end %>
  </div>
       <%= javascript_include_tag 'application' %>
